<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kku.sukruam.pattaradanai.projectmappv1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ButtomNevigationActivity">
<intent-filter>
<action android:name="android.intent.action.MAIN" />

<category android:name="android.intent.category.LAUNCHER" />
</intent-filter>
    </activity>
       <!-- <activity android:name=".TabTestActivity" /> -->
        <activity android:name=".ShowDetailActivity" />
        <activity android:name=".MainActivityFried" />
        <activity android:name=".MainActivityStir" />
        <activity android:name=".MainActivityCurry" />
        <activity android:name=".MainActivityGrill" />
        <activity android:name=".MainActivitySpicy" />
        <activity android:name=".MainActivityEsan" />
        <activity android:name=".MainActivityDest" />
      <!--  <activity
            android:name=".ButtomNevigationActivity"
            android:label="@string/title_activity_buttom_nevigation"></activity> -->
    </application>

    </manifest>